* text=auto eol=lf

*.json text eol=lf
*.jsonc text eol=lf
*.md text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.[pP][nN][gG] binary !eol
*.[jJ][pP][gG] binary !eol
*.[jJ][pP][eE][gG] binary !eol
*.[gG][iI][fF] binary !eol
*.wasm binary !eol
